.sidebar-div {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, #31363a, #1d1f21, #070708);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    color: white;
    z-index: 1;
}

.sidebar-toggle-btn {
    margin-left: auto;
    margin-right: 10px;
    position: relative;
    top: 1vh;
    background-color: rgb(201, 201, 201);
    border: 0;
    border-radius: 15px;
    transform: scale(1.4);
    margin-top: 8.5vh;
}

.sidebar-toggle-btn:hover {
    cursor: pointer;
    transform: scale(1.5);
    background-color: rgb(237, 244, 30);
}

.sidebar-links-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebar-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-inline-start: 1vw;
    gap: 15px;
}

.sidebar-ul li {
    list-style-type: none;
    padding: 5px 15px;
    width: 80%;
    text-align: left;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.sidebar-ul li svg {
    width: 1.5em;
    height: auto;
}

.sidebar-ul li:hover {
    background-color: rgb(237, 244, 30);
    color: black;
    transform: scale(1.2);
    cursor: pointer;
}

.sidebar-client-div strong, .sidebar-finance-div strong, .sidebar-orders-div strong, .sidebar-stock-div strong{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #2a2b2c;
    border-radius: 15px;
}

.sidebar-client-div div, .sidebar-finance-div div, .sidebar-orders-div div, .sidebar-stock-div div {
    list-style-type: circle;
    padding: 5px 15px;
    width: 80%;
    font-size: medium;
    text-align: left;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 25px, rgba(0, 0, 0, 0.15) 0px 5px 10px;
    background-color: transparent;

}

.sidebar-client-div div:hover, .sidebar-finance-div div:hover, .sidebar-orders-div div:hover, .sidebar-stock-div div:hover {
    background-color: rgb(237, 244, 30);
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}